<?php
declare(strict_types=1);
$namespaceDefinition
use $useClassName;

final class $className  extends $baseClassName
{
    public const JOB_TYPE_CODE = 'update_me';

    public function run()
    {
        throw new LogicException('Update the job type code and remove this line');
        $typeCode = self::JOB_TYPE_CODE;
        $jobType = $this->fetchRow("SELECT * FROM kojo_job_type where type_code = '$typeCode'");

        $now = new DateTime();
        $workAtDateTime = $now;
        $this->table('kojo_job')->insert([
            'type_code' => $typeCode,
            'name' => $jobType['name'],
            'priority' => $jobType['default_importance'],
            'importance' => $jobType['default_importance'],
            'work_at_date_time' => $workAtDateTime->format('Y-m-d H:i:s'),
            'next_state_request' => 'working',
            'assigned_state' => 'waiting',
            'previous_state' => 'new',
            'worker_uri' => $jobType['worker_uri'],
            'worker_method' => $jobType['worker_method'],
            'can_work_in_parallel' => $jobType['can_work_in_parallel'],
            'last_transition_date_time' => $now->format('Y-m-d H:i:s'),
            'last_transition_micro_time' => hrtime(true),
            'times_worked' => 0,
            'times_retried' => 0,
            'times_held' => 0,
            'times_crashed' => 0,
            'times_panicked' => 0,
            'created_at_date_time' => $now->format('Y-m-d H:i:s'),
        ])->saveData();
    }
}
