<?php
declare(strict_types=1);
$namespaceDefinition
use $useClassName;

final class $className extends $baseClassName
{
    /**
     * Create a trigger that updates the updated_at field to NOW() then set the trigger on each table to run
     * when an update is executed
     */
    public function up()
    {

        $this->execute(
            'CREATE OR REPLACE FUNCTION trigger_set_updated_at_timestamp()
            RETURNS TRIGGER AS $$
            BEGIN
                NEW.updated_at = NOW();
                RETURN NEW;
            END;
            $$ LANGUAGE plpgsql;'
        );

    }

    public function down()
    {
        $this->execute('DROP FUNCTION IF EXISTS trigger_set_updated_at_timestamp() CASCADE;');
    }
}
