<?php
declare(strict_types=1);
$namespaceDefinition
use $useClassName;

final class $className extends $baseClassName
{
    public function up()
    {
        $this->executeKojoCommand('db:setup:install');
    }

    public function down()
    {
        $this->executeKojoCommand('db:tear_down:uninstall');
    }

    protected function executeKojoCommand(string $command)
    {
        // Consider defining the appDir relative to the migration file
        // $appDir = __DIR__ . '/../..';
        $appDir = getcwd();
        // You might need to update the location of the Kojo environment parameters below
        $kojoEnvironmentPath = $appDir . '/kojo-environment';

        $output = [];
        $exitCode = 0;

        exec(
            "$appDir/vendor/bin/kojo $command $kojoEnvironmentPath",
            $output,
            $exitCode
        );

        if ($exitCode !== 0) {
            throw new \RuntimeException('Unable to run kojo command: ' . $command);
        }
    }
}
