<?php
declare(strict_types=1);
$namespaceDefinition
use $useClassName;

require_once __DIR__ . '/../seeds/JobSeeder.php';

final class $className extends $baseClassName
{
    public function up()
    {
        (new JobSeeder())
            ->setAdapter($this->getAdapter())
            ->setInput($this->getInput())
            ->setOutput($this->getOutput())
            ->run();
    }

    public function down()
    {
        $typeCode = JobSeeder::JOB_TYPE_CODE;
        $this->execute("DELETE FROM kojo_job where type_code  = '$typeCode'");
    }
}
